/* src/components/Footer/Footer.css */

.footer {
  width: 100%;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

/* Alinhamento à esquerda para o conteúdo da lista */
.footer .info-list {
  text-align: left; /* Alinha o texto à esquerda */
}

/* Estilo opcional para melhorar a apresentação */
.footer .info-list li {
  margin-bottom: 8px; /* Ajusta o espaçamento entre itens */
}

.form-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5rem;
  background-color: #ffffe0; /* Cor de fundo amarelo bem claro */
  width: 100%; /* Ocupa 100% da largura da tela */
  box-sizing: border-box; /* Inclui padding e border na largura total */
  margin: 3rem auto; /* Centraliza o container horizontalmente */
}

/* Estiliza o título do formulário */
.form-title {
  color: #000; /* Cor do texto */
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 16px; /* Espaçamento inferior para separar do conteúdo */
}

h4 {
  color: rgb(248, 2, 166);
}